.App {
  max-width: 960px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header header header header"
    "aside aside main main"
    "footer footer footer footer";
  background: #fff;
}

@media screen and (min-width: 760px) {
  .App {
    max-width: 960px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas:
      "header header header header"
      "aside main main main"
      "footer footer footer footer";
    background: #fff;
  }
}

@media only screen and (min-width: 320px) and (max-width: 560px) {
  .App {
    max-width: 960px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas:
      "header header header header"
      "aside aside aside aside"
      "main main main main"
      "footer footer footer footer";
    background: #fff;
  }
}

.footer {
  grid-area: footer;
  width: 100%;
  text-align: center;
}
